In [1]:
f = open(r"C:\Users\Varshil\Downloads\identity_CelebA.txt", "r").read()

In [2]:
f[:100]

'000001.jpg 2880\n000002.jpg 2937\n000003.jpg 8692\n000004.jpg 5805\n000005.jpg 9295\n000006.jpg 4153\n0000'

In [3]:
file = f.split("\n")

In [6]:
labels = []

for x in file:
    labels.append(x.split())

In [7]:
import pandas as pd
df = pd.DataFrame(labels, columns = ["name", "class"])

In [8]:
df.head()

         name class
0  000001.jpg  2880
1  000002.jpg  2937
2  000003.jpg  8692
3  000004.jpg  5805
4  000005.jpg  9295

In [11]:
most_repeated = df["class"].value_counts().reset_index().head(10)

In [12]:
most_repeated

  class  count
0  3227     35
1  2820     35
2  3782     35
3  3745     34
4  3699     34
5  9152     32
6  8968     32
7  9256     32
8  4887     31
9  6568     31

In [14]:
import os
os.mkdir(r"D:\CelebA_subset")

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'D:\\CelebA_subset'

In [15]:
import os
import shutil

# Base directories
source_dir = r"D:\img_align_celeba"
destination_base_dir = r"D:\CelebA_subset"

# Ensure the destination base directory exists
os.makedirs(destination_base_dir, exist_ok=True)

# Iterate over each unique class in the DataFrame
for class_label in most_repeated["class"]:
    # Define the path for the new class directory
    class_dir = os.path.join(destination_base_dir, str(class_label))
    # Create the class directory if it doesn't exist
    os.makedirs(class_dir, exist_ok=True)

    # Filter the DataFrame for images belonging to the current class
    class_images = df[df["class"] == class_label]["name"]

    # Move each image to the corresponding class directory
    for image_name in class_images:
        source_path = os.path.join(source_dir, image_name)
        destination_path = os.path.join(class_dir, image_name)

        # Check if the source image exists
        if os.path.exists(source_path):
            shutil.move(source_path, destination_path)
        else:
            print(f"Warning: {source_path} does not exist and will be skipped.")